<p>Hi</p>
<p>We've just received the whole set of material mailed to you:</p>

<table>
  <tr>
    <th>Submission </th>
    <th>Barcode</th>
    <th>Type</th>
    <th>Created at</th>
  </tr>
  <% @labwares.each do |lw| %>
    <tr>
      <td><%= @material_submission.id %></td>
      <td><%= lw.barcode.value %></td>
      <td><%= lw.labware_type.name %></td>
      <td><%= @material_submission.created_at %></td>
    </tr>
  <% end %>
</table>

<p>Regards</p>
<p>AKER</p>