<p>Hi</p>
<p>We've just received the following material mailed to you:</p>

<table>
  <tr>
    <th>Manifest </th>
    <th>Barcode</th>
    <th>Created at</th>
  </tr>
  <tr>
    <td><%= @manifest.id %></td>
    <td><%= @labware.barcode %></td>
    <td><%= localize(@manifest.created_at, format: :terse) %></td>
  </tr>

</table>

<% if @material_reception.all_received? %>

<p>All labware for Manifest <%= @manifest.id %> has now arrived.</p>

<% end %>

<p>Regards,</p>
<p>AKER</p>