<p>A new Material Submission has been created by <%= @collaborator_email %> with you as the named contact.

<p><%= link_to 'Material Submission Summary', material_submission_url(@material_submission) %></p>

<p>Regards,</p>

<p>Aker</p>