<p>Thank you for you Material Submission. An email has been sent to <%= @contact_fullname %> to inform them.</p>

<p><%= link_to 'Material Submission Summary', material_submission_url(@material_submission) %></p>

<p>Regards,</p>

<p>Aker</p>