<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Barcode</th>
      <th>Received at</th>
    </tr>
  </thead>

  <tbody>
    <%= render material_receptions %>
  </tbody>

</table>
