<div class="row">
  <div class="col-md-12">
    <div style="margin: 10px 0">
      <% unless first_step? %>
        <%= link_to 'Back', previous_wizard_path, class: 'btn btn-default' %>
      <% end %>

      <% if (last_step?) %>
        <%= f.submit "Save & Exit", class: "btn btn-primary", style: "float: right" %>
      <% else %>
        <%= f.submit "Next", class: "btn btn-default", style: "float: right" %>
      <% end %>

      <%= link_to 'Cancel', material_submission,
            method: :delete,
            class: 'btn btn-danger',
            data: { confirm: 'Are you sure you wish to cancel this submission?' },
            style: "float: right; margin-right: 7px"
      %>
    </div>
  </div>
</div>