<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Labware Type</th>
      <th>Labware Quantity</th>
      <th>Supply Labware?</th>
      <th>Date Created</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render material_submissions %>
  </tbody>

</table>
