<div class="row">
  <div class="col-md-12">
    <%= link_to 'Create New Submission', new_material_submission_url, class: 'btn btn-success' %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Pending Submissions</h2>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Labware Type</th>
          <th>Number</th>
          <th>Supply Labware?</th>
          <th>Date Created</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= render @pending_material_submissions %>
      </tbody>

    </table>

  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Active Submissions</h2>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Labware Type</th>
          <th>Number</th>
          <th>Supply Labware?</th>
          <th>Date Created</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= render @active_material_submissions %>
      </tbody>

    </table>

  </div>
</div>