/*
*= require rails_bootstrap_forms
*= require bootstrap-table
*/
@import "bootstrap-sprockets";
@import "paper.min";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "datatables";
@import "select2";
@import "select2-bootstrap";

textarea.halvsies { height: 150px; width: 33% }

.alert-error {
  @extend .alert-danger;
}

.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-success;
}

.is-dragover {
  opacity: 0.5;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.rowspace {
  margin-bottom: 20px;
}

.claimed-sets {
  padding-left: 3em;
  padding-right: 3em;
}

body {
  background-color: #e0ebeb;
}

.container#content {
  margin-top: 20px;
  padding-bottom: 10px;
  background-color: white;
  margin-bottom: 20px;
}

.bg-info {
  background-color: #d9edf7;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}
