@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "datatables";
@import "select2";
@import "select2-bootstrap";

textarea.halvsies { height: 150px; width: 33% }

.error {
  @extend .alert-danger;
}

.warning {
  @extend .alert-warning;
}

.notice {
  @extend .alert-success;
}

.is-dragover {
  opacity: 0.5;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

table thead th {cursor :s-resize;}
table tbody tr {cursor :e-resize;}
table tbody td {cursor :nw-resize;}

table input.form-control {
    background-color: transparent;
    outline: none;
    border: 0px;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

table input.form-control:focus {
    border: 1px solid #ccc
}

