@import "bootstrap-sprockets";
@import "variables";
@import "bootstrap";
@import "paper";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "datatables";
@import "select2";
@import "select2-bootstrap";
@import "rails_bootstrap_forms";
@import "bootstrap-table";
@import "navbar";

textarea.halvsies { height: 150px; width: 33% }

.alert-error {
  @extend .alert-danger;
}

.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-success;
}

.is-dragover {
  opacity: 0.5;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.rowspace {
  margin-bottom: 20px;
}

body {
  background-color: #f4f4f4;
}

.container#content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-fluid#provenance {
  margin: 20px 20px 20px 20px;
}

.container#content, .container-fluid#provenance {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  padding-bottom: 10px;
}

.bg-info {
  background-color: #d9edf7;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

.bs-wizard-step {
  padding: 0;
  position: relative;
}

.bs-wizard-step > .step-indicator {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  background: #4CAF50;
  top: 47px;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
  z-index: 1;
}

.bs-wizard-step > .progress {
  position: relative;
  border-radius: 0;
  height: 8px;
  box-shadow: none;
  margin: 20px 0;
}

.bs-wizard-step > .progress > .progress-bar {
  width: 0;
  box-shadow: none;
  background: #4CAF50;
  z-index: -1;
  border-radius: 0px;
}

.bs-wizard-step.complete > .progress > .progress-bar {
  width: 100%;
}

.bs-wizard-step.active > .progress > .progress-bar {
  width: 50%;
}

.bs-wizard-step.upcoming > .step-indicator {
  background-color: #f5f5f5;
  pointer-events: none;
}

.bs-wizard-step > .progress > .progress-bar:last-child::before {
  background-color: #f5f5f5;
}

// Adjust step indicator layout for narrow screens
@media only screen and (max-width: 991px)  {
  .bs-wizard-step > .progress {
    position: absolute;
    width: 100%;
    height: 8px;
    top: 47px;
    margin-top: 20px;
  }
  .bs-wizard-step > .step-indicator {
    margin-top: 10px;
  }
  .row#progress-bar {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 400px)  {
  .bs-wizard-step {
    font-size: 12px;
  }
}

// Disable clicking on the step indicator link for the current step
.bs-wizard-step.active {
  pointer-events: none;
}
.skipped {
  pointer-events: none;
  background: #cecece !important;
}

.printer_select {
  margin-left: 5px;
  width: 120px;
}

// Mobile optimisations
@media only screen and (max-width: 768px)  {
  .btn {
    margin-bottom: 5px;
    margin-right: 0px !important;
  }
}

.material-data-table {
  height: 100vh;
}

.has-error input:not([type=checkbox]), .has-error .form-control {
  border-bottom: none;
  -webkit-box-shadow: inset 0 -2px 0 red;
  box-shadow: inset 0 -5px 0 red;
}
